{% extends 'layout/base.html.twig' %}

{% block title %}BreakType index{% endblock %}

{% block body %}
    <h1 style="padding: 20px">Mola Tür Listesi</h1>

<div style="padding: 20px; background-color: white">
    <a href="{{ path('break_type_new') }}" style="float: right!important;  margin-bottom: 20px;"><button type="button" class="btn  btn-success">Yeni Oluştur</button></a>

    <table id="breakTypeTable" class="table table-striped table-bordered" style="width:100%!important;">
        <thead>
            <tr>
                <th style="width: 250px">İsim</th>
                <th>Rol Ekle</th>
                <th style="width: 220px;text-align: center">Faaliyet</th>
            </tr>
        </thead>
        <tbody>
        {% for break_type in break_types %}
            <tr>
                <td>{{ break_type.name }}</td>
                <td>{{ break_type.addeableRole }}</td>
                <td>
                    <a href="{{ path('break_type_show', {'id': break_type.id}) }}" style="float: right"><button type="button" class="btn btn-info">Göster</button></a>
                    <a href="{{ path('break_type_edit', {'id': break_type.id}) }}" style="float: right;margin-right: 10px;"><button type="button" class="btn  btn-warning">Güncelle</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

{% block customScript %}
    <script>

        $('#breakTypeTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'print'
            ],
            "language": {
                url: 'https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json'
            }
        });
        $('.buttons-copy,  .buttons-print,  .buttons-excel').addClass('btn btn-primary mr-1');
    </script>

{% endblock %}
