{% extends 'base.html.twig' %}

{% block title %}AgentBreak index{% endblock %}

{% block body %}
    <h1>AgentBreak index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agent_break in agent_breaks %}
            <tr>
                <td>{{ agent_break.id }}</td>
                <td>{{ agent_break.startTime ? agent_break.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ agent_break.endTime ? agent_break.endTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ agent_break.duration }}</td>
                <td>
                    <a href="{{ path('agent_break_show', {'id': agent_break.id}) }}">show</a>
                    <a href="{{ path('agent_break_edit', {'id': agent_break.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agent_break_new') }}">Create new</a>
{% endblock %}
