{% extends "layout/base.html.twig" %}
{% block title %} Takım Lideri Temsilci Toplam  Değerlendirme Tablosu{% endblock %}

{% block customScript %}
    <script type="text/javascript">

        $(document).ready(function() {
            $('.select2').select2();
        });

        for (i = 0; i <= createTableCount; i++) {
            $("#selectCategoryTable_" + i).DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                order: [],
                "language": {
                    url: '/assets/Turkish.json'
                }
            });
        }
    </script>
{% endblock %}

{% block body %}
    <script type="text/javascript">
        var createTableCount = 0;
    </script>
    <style>
        .dataTables_length {
            margin-right: 30px !important;
        }
    </style>

    <div class="form-group col-md-4">
        <h1>Takım Lideri Temsilci Toplam  Değerlendirme Tablosu</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <div class="col-sm-12" style="padding: 20px!important;">

        {% set tableCount = 0 %}
        {% set tableName = "selectCategoryTable_" %}


            {% set tableCount = tableCount + 1 %}
            <script type="text/javascript">
                createTableCount = {{ tableCount }};
            </script>
            <table id="{{ tableName }}{{ tableCount }}"
                   class="table table-bordered table-striped full-color-table full-primary-table hover-table"
                   style="width: 100%!important; min-width: 100%!important; max-width: 100%!important;">

                <thead>
                <tr>
                    <th>Temsilci İsimleri</th>
                    <th>Değerlendirme Sayısı</th>
                    <th>Ortalama Puan</th>
                    <th>Ortalama Çağrı Süresi Saniye</th>
                    <th>Min Puan</th>
                    <th>Max Puan</th>
                </tr>
                </thead>
                <tbody>
                {% for divNameVal in  datatable %}

                <tr>
                    <td>{{ divNameVal.evaItem.user.username}} </td>
                    <td>{{ divNameVal.count}} </td>
                    <td>{{ divNameVal.AVGScore| round(2)}} </td>
                    <td>{{ divNameVal.AVGDuration| round(2)}} </td>
                    <td>{{ divNameVal.MINScore }} </td>
                    <td>{{ divNameVal.MAXScore }} </td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

    </div>

{% endblock %}