{% extends 'base.html.twig' %}

{% block title %}EvaluationAnswer{% endblock %}

{% block body %}
    <h1>EvaluationAnswer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evaluation_answer.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ evaluation_answer.createdAt ? evaluation_answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ evaluation_answer.updatedAt ? evaluation_answer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ evaluation_answer.deletedAt ? evaluation_answer.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evaluation_answer_index') }}">back to list</a>

    <a href="{{ path('evaluation_answer_edit', {'id': evaluation_answer.id}) }}">edit</a>

    {{ include('evaluation_answer/_delete_form.html.twig') }}
{% endblock %}
