{% extends 'base.html.twig' %}

{% block title %}RecordListenLog index{% endblock %}

{% block body %}
    <h1>RecordListenLog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ClientIp</th>
                <th>ListenTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for record_listen_log in record_listen_logs %}
            <tr>
                <td>{{ record_listen_log.id }}</td>
                <td>{{ record_listen_log.clientIp }}</td>
                <td>{{ record_listen_log.listenTime ? record_listen_log.listenTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('record_listen_log_show', {'id': record_listen_log.id}) }}">show</a>
                    <a href="{{ path('record_listen_log_edit', {'id': record_listen_log.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('record_listen_log_new') }}">Create new</a>
{% endblock %}
