{% extends 'base.html.twig' %}

{% block title %}SkillMember{% endblock %}

{% block body %}
    <h1>SkillMember</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skill_member.id }}</td>
            </tr>
            <tr>
                <th>Queue</th>
                <td>{{ skill_member.queue }}</td>
            </tr>
            <tr>
                <th>Member</th>
                <td>{{ skill_member.member }}</td>
            </tr>
            <tr>
                <th>Penalty</th>
                <td>{{ skill_member.penalty }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('skill_member_index') }}">back to list</a>

    <a href="{{ path('skill_member_edit', {'id': skill_member.id}) }}">edit</a>

    {{ include('skill_member/_delete_form.html.twig') }}
{% endblock %}
